body {
	margin: 0 auto;
	background: url("TRBCA Logo.jpg") no-repeat fixed center;
}

.block {
	display: flex;
	align-items: center;
	justify-content: center;
	margin:0 auto;
}

#welcome {
	margin: 10% 30%;
	color: #8C001A;
}

.write {
	width: 100%;
	font-size: 1.5em;
	font-weight: 700;
	text-align: center;
	color: #3000c;
}
