body {
	margin: 0 auto;
	background: linear-gradient(rgba(198, 198, 198, 0.5),rgba(198, 198, 198, 0.5)), url("TRBCA Logo.jpg");/*no-repeat fixed center*/
	background-repeat: no-repeat;
  	background-size: cover;
}

:root {
  --burgundy: #8C001A;
  --crimson: #990000;
  --cordial: #30000c;
  --gray: #cccccc;
  --granite: #666666;
  --scarlet: #ff0000;
  --rose: #ffe6ea;
}

#welcome {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #8C001A;
	border: 3px dotted fuchsia;
}

.block {
	display: flex;
	align-items: center;
	justify-content: center;
	border: 3px dotted gold;
}

.write {
	width: 100%;
	font-size: 1.5em;
	font-weight: 700;
	text-align: center;
	color: var(--cordial);
}


/* Navigation Menu */

.navwrap {
  padding: 30px 0;
  text-align: center;
  background: var(--gray);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav {
  display: inline-block;
}

.nav>li {/* defines navbar menu item segments*/
  float: left;
  position: relative;
  border-right: 1px solid white;
  width: 200px
}

.nav>li:last-child {
  border: none
}

.nav li a {
  display: block;
  padding: 8px 20px;
  color: white;/*#fff*/
  text-decoration: none;
  background: var(--cordial);
}

.nav li li a {/*defines the dropdown menu*/
  background: white;
  color: var(--cordial);
  border-bottom: 1px solid var(--gray);
  float: right;
}

.nav li li:last-child a {
  border: none
}

.nav li ul {
  position: absolute;
  left: 0;
  top: 100%;
  width: 200px;
  margin-left: -999em;
/*   border: 1px solid var(--gray); */
  z-index: 99;
}

.nav li:hover ul {
  margin-left: 0
}

.nav>li:hover>a {
  color: var(--rose);
}

.nav li li a:hover {
  background: var(--granite);
  color: white;
}

/* the arrow */

.nav>li:hover>a:after {
  content: "";
  height: 0;
  width: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid white;
  position: absolute;
  bottom: -1px;
  left: 50%;
  margin: 0 0 0 -3px;
  z-index: 100;
}
